.JobApp .form{
    margin-top: 75px;
    background-color: whitesmoke;
    padding: 50px 50px 50px 50px;
    margin-right: 300px;
    margin-left: 300px;
    font-family: 'Arial Narrow Bold', sans-serif;
}